@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #BF050B;
$secondary: #003765;
$info: #FEC539;
$font-family-sans-serif: Roboto,sans-serif;
$headings-font-family: 'Playfair Display',serif;

@import 'bootstrap/bootstrap.scss';
@import 'slick/slick-theme.scss';
@import 'slick.scss';