{% extends "base.html" %}

{% block content %}
<section class="row">
    <h2>{{ playlist.title }}</h2>
    {% for video in videos %}
    <div class="col-3">
        <a target="_blank" href="https://www.youtube.com/watch?v={{ video.snippet.resourceId.videoId }}">
            <img src="{{ video.snippet.thumbnails.medium.url }}" alt="Thumbnail for the {{ video.snippet.title }} video">
        </a>
        <h2><a target="_blank" href="https://www.youtube.com/watch?v={{ video.snippet.resourceId.videoId }}">{{ video.snippet.title }}</a></h2>
    </div>
    {% endfor %}
</section>
{% endblock %}